--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 
$base-font-family: "Lucida Grande", sans-serif;
$heading-font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$text-color: #313638;
$background-color: #f6f7f7;
$brand-color: #FF6B6B;
$title-font-family: 'VT323', monospace;

@import "minima";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
    font-family: $heading-font-family;
    color: $brand-color;
}

body {
    -webkit-font-smoothing: antialiased;
}

a {
    &:visited {
        color: $brand-color;
    }
}

.site-header {
    background-color: $brand-color;
    border: none;
}

.site-title {
    font-family: $title-font-family;
    letter-spacing: 5px;
    text-transform: uppercase;
    &:hover {
        color: $background-color;
        text-decoration: none;
    }
    &::before {
        content: "<"
    }
    &::after {
        content: ">"
    }
}

.site-nav {
    line-height: $spacing-unit * 1.865;
}

.page-link {
    padding-top: $spacing-unit * 1.865 / 2 - $base-font-size / 2;
    padding-bottom: $spacing-unit * 1.865 / 2 - $base-font-size / 2;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    &:hover {
        background-color: $background-color;
        text-decoration: none;
    }
    &:not(:last-child) {
        margin-right: 0;
    }
}

.site-footer {
    background-color: lighten($brand-color, 20%);
}

.footer-heading {
    color: $text-color;
}

.feature-image {
    max-width: $content-width / 3;
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid $brand-color;
}

.wide-image {
    border: 1px solid $brand-color;
    margin-bottom: 20px;
}

.post-content,
.page-content {
    p {
        img {
            max-width: $content-width / 3;
            float: right;
            margin: 0 0 10px 20px;
            border: 1px solid $brand-color;
        }
    }
}

.post-list-heading {
    clear: both;
    border-top: 1px dashed $brand-color;
    border-bottom: 1px dashed $brand-color;
    background: $grey-color-light;
}

.post-list {
    li {
        margin-bottom: 15px;
    }
    .post-link {
        font-family: $base-font-family;
        font-size: $base-font-size * 1.25;
    }
    p {
        font-size: $small-font-size;
        color: $grey-color;
    }
}

.music-list {
    h2 {
        padding-left: 10px;
        clear: both;
        font-family: $title-font-family;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 30px 0 0 0;
        border-top: 1px dashed $brand-color;
        border-bottom: 1px dashed $brand-color;
        background: $grey-color-light;
        &::before {
        content: "<"
        }
        &::after {
            content: ">"
            }
    }
}

.music-body {
    border-bottom: 1px dashed $brand-color;
    background-color: lighten($brand-color, 20%);
    
    table {
        margin-bottom: 0;
    }
    
    p {
        margin: 0;
        padding: 10px 15px;
    }

    td:first-child, em {
        font-weight: bold;
        font-style: normal;
        color: $grey-color-dark;
    }
}

@include media-query($on-palm) {
    .feature-image {
        max-width: 100%;
        float: none;
        margin: 10px 0 10px 0;
        border: 1px solid $brand-color;
    }
    .post-content,
    .page-content {
        p {
            img {
                max-width: 100%;
                float: none;
                margin: 10px 0 10px 0;
                border: 1px solid $brand-color;
            }
        }
    }
}